
#root {
    -fx-background-image: url("img/hex.png");
    -fx-background-repeat: repeat;
}

#game-panel {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 4px;
    -fx-border-insets: 5px;
    -fx-padding: 0px;
}